[submodule "shell/iterm2-snazzy"]
	path = shell/iterm2-snazzy
	url = https://github.com/sindresorhus/iterm2-snazzy.git
[submodule "zsh/prezto"]
	path = zsh/prezto
	url = https://github.com/sorin-ionescu/prezto.git
